{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}ViolationVision{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    {% block style %} {% endblock %}
</head>
<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container justify-content-center">
            <a class="navbar-brand d-flex align-items-center" href="{% url 'main' %}">
                ViolationVision
                <img src="{% static 'images/logo.png' %}" alt="Logo" height="30" class="me-2">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'upload' %}">Загрузить видео</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/help">Помощь</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'detection' %}">Детекция</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'previous' %}">Мои загрузки</a>
                    </li>
                    {% if user.is_authenticated %}
                        <a class="nav-link" href="{% url 'logout' %}">Выход</a>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Войти</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">Регистрация</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <main class="flex-grow-1">
        {% block content %}
        {% endblock %}
    </main>
    {% block scripts %}{% endblock %}
</body>
</html>